body{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	color: white;
	
	
}

hr{
	width: 600px;
}

/*-------------------------------
		Title Page
---------------------------------*/


.title_page{
	width: 100%;
	height: 100%;
	background: url(../images/IMG_0583.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.header{
	position: fixed;
	width: 100%;
}

.K1_Logo{
	position: absolute;
	width: 600px;
	height: 400px;
	display: block;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin: 200px auto auto auto;
}

.page_options{
	padding: 40px;
}

.page_options a{

}

.K1_Logo h1{
	margin-bottom: 3px;
	margin-top: 10px;
	letter-spacing: 9px;
}

.K1_Logo  h3{
	margin-bottom: 10px;
	margin-top: 30px;
}

.K1_Logo h4{
	margin-top: 30px;
	margin-bottom: 5px;
}

#menu_nav{
    transition: margin-right .5s;
	border: 2px solid #ffffff;
    padding: 10px;
	margin: 20px;
	color: #fff;
	float: right;
	font-family: 'Roboto', sans-serif;
}
#menu_nav:hover{
	color: #000000;
	background-color: #ffffff;
	
}

/*-------------------------------
		Inner Content
---------------------------------*/
.inner_content{
	padding: 50px auto;
	width: 100%;
	height: 675px;
	color: #000000;
	text-align: center;
}

.content_text{
	padding: 40px;
}

.block_text{
	padding: 25px;
}



/*-------------------------------
		Our Mission
---------------------------------*/
.our_mission{
	width: 100%;
	height: 600px;
	padding: 70px 30px;
	background: url(../images/IMG_0607.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mission_text h1{
	font-size: 80px;
	margin: 10px;
}

.mission_text h2{
	font-size: 40px;
	margin: 20px auto;
	padding: 15px 20px;
	width: 400px;
}

.mission_text{
	position: relative;
	margin: 90px;
	text-align: center;
	padding: 30px;
}


/*-------------------------------
		Inner Content2
---------------------------------*/
.content_text{
	display: inline-table;
	width: 50%;
	height: auto;
}

.row_block{
	display: inline-table;
	width:55%;
	height: 200px;
}

.row_text{
	width: 250px;
	height: 160px;
	float: left;
	margin: 40px;
}





/*
	---------------------------------------------------------------




						Side Menu Bar Pop Out
	
	
	
	
	
	
	---------------------------------------------------------------
*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*-----------------------------------------------
				Footer Properties
-------------------------------------------------*/
.footer{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 400px;
	background-color:#5287f9;
	display: inline-table;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

.footer_links{
	padding: 20px;
	
}

.footer_text{
	width: 800px;
	height: 300px;
    padding: 10px;
	
	display: inline-table;
}

.footer_text a{
	color: black;
	text-decoration: none;
}